<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
<h1>I am Leader</h1>


<p>User: <span sec:authentication="principal.username"></span></p>
<p>Role: <span sec:authentication="principal.authorities"></span></p>

<form action="#" th:action="@{/logout}" method="POST">
    <button type="submit" value="Logout">Logout</button>
</form>
</body>
</html>